//----------------------------------------------------------
// QUEUES and SINGULARITY PROFILES
//----------------------------------------------------------

profiles {

 chpc {
	process {
                executor='pbspro'
                clusterOptions = "-P $CHPC_GROUP_NAME" 
	}
  }


 container {
	singularity {
		enabled = true
		cacheDir = "$HOME/.singularity/cache"
	  }
  }


 // NOTE: Normal nodes for testing only
 testq {
	process {
		queue = 'test'
		cpus = 1 // 1 <= cpus <= 24
		time = 3.h
	}

	executor {
		queueSize = 1 // opted for the minimal running jobs limit
	}
  }

 // NOTE: For very long sub 1-node jobs
  seriallongq {
	process {
		queue = 'seriallong'
		cpus = 4 // 1 <= cpus <= 12
		time = 144.h
	}

	executor {
		queueSize = 10 // opted for the minimal running jobs limit
	}
  }



 // NOTE: For single node non-parallel jobs
  serialq {
	process {
		queue = 'serial'
		cpus = 4 // 1 <= cpus <= 23
		time = 48.h
	}

	executor {
		queueSize = 10 // opted for the minimal running jobs limit
	}
  }



 // NOTE: For single node parallel jobs
 smpq {
	process {
		queue = 'smp'
		cpus = 24 // min == max
		time = 96.h
	}

	executor {
		queueSize = 10 // opted for the minimal running jobs limit
	}
  }

 // NOTE: Standard queue for parallel jobs
 normalq {
	process {
		queue = 'normal'
		cpus = 25 // 25 <= cpus <= 240
		time = 48.h
	}

	executor {
		queueSize = 10 // opted for the minimal running jobs limit
	}
  }


 // NOTE: 10 CPUs and 1 GPU
 gpu1q {
	process {
		queue = 'gpu1q'
		cpus = 1 // 1 <= cpus <= 10
		time = 12.h
	}

	executor {
		queueSize = 2 // opted for the minimal running jobs limit
	}
  }

 // NOTE: 20 CPUs and 2 GPUs
 gpu2q {
	process {
		queue = 'gpu2q'
		cpus = 1 // 1 <= cpus <= 20
		time = 12.h
	}

	executor {
		queueSize = 2 // opted for the minimal running jobs limit
	}
  }

 // NOTE: 36 CPUs and 3 GPUs
 gpu3q {
	process {
		queue = 'gpu3q'
		cpus = 1 // 1 <= cpus <= 36
		time = 12.h
	}

	executor {
		queueSize = 2 // opted for the minimal running jobs limit
	}
  }


 // NOTE: 40 CPUs and 4 GPUs
 gpu4q {
	process {
		queue = 'gpu4q'
		cpus = 1 // 1 <= cpus <= 40
		time = 12.h
	}

	executor {
		queueSize = 2 // opted for the minimal running jobs limit
	}
  }


}

