params {
  config_profile_description = 'SATBBI standard config for CHPC cluster by nf-core/configs'
  config_profile_contact = 'Abhinav Sharma (@abhi18av)'
  config_profile_url = 'https://wiki.chpc.ac.za/quick:start'

  //NOTE: Defaults are based on the normal queue
  max_cpus = 240
  max_memory = 128.GB
  max_time = 48h
}


// Enable use of Singularity to run containers
singularity {
  enabled = true
  autoMounts = true
  autoCleanUp = true
  cacheDir = "$HOME/.singularity/cache"
}

// Submit up to 20 concurrent jobs, as per the limits of normal queue
executor {
  queueSize = 20
}

// Define process resource limits
process {
  executor = 'pbspro'
  clusterOptions = "--account=${System.getenv('CHPC_PROJECT')}"
  cache = 'lenient'
  stageInMode = 'symlink'
  queue = 'normal' }
}

